html,
body {
  margin: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    background-color: lightgreen;
    color: darkgreen;
  }

  &__headerTitle {
    font-size: 1.5em;
  }

  &__prefsTitle {
    font-size: 1em;
    padding-left: 0.5em;
  }
}

.CheckboxList {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 25%;
    max-width: 120px;
    padding-left: 0.5em;
    box-sizing: border-box;
  }
}
